@using Common.Dtos;
@{
    ViewBag.Title = "Health check";
}

<h6>Notification dostupnost: @ViewBag.Notification %</h6>
<h6>Portfolio dostupnost: @ViewBag.Portfolio %</h6>
<div class="container" style="overflow-y:auto;height:500px;">
    <table class="table">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (HealthCheckDto hc in ViewBag.HealthChecks)
        {
            <tr>
                <td>@hc.ServiceName</td>
                <td>@hc.Timestamp.ToString("dd.MM.yyyy HH:mm:ss")</td>
                <td>@(hc.IsHealth?"Ok":"Nije dostupan")</td>
            </tr>
        }
    </table>
</div>